* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Philosopher, sans-serif;
    /*color: #FFF;*/
}

a, button {
    cursor: pointer;
}

b {
    font-size: 16px;
    font-weight: 600;
}

button:active {
    scale: 1.1;
}

button:focus {
    outline: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 0;
    margin: 0;
}

.container {
    position: relative;
    background-image: url("../images/group-1.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    max-width: 1200px;
    overflow: hidden;
    height: 100%;
}

.circle-moon-img {
    position: absolute;
    bottom: -49vh;
    mix-blend-mode: plus-lighter;
    max-width: none;
    animation: circle-moon-img 360s linear infinite;
    overflow: hidden;
    rotate: 180deg;
    width: 423vw;
    object-position: center bottom;
}

@keyframes circle-moon-img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.welcome-section {

}

.welcome-background-angles-img {
}

.welcome-background-angles {
    mix-blend-mode: exclusion;
    position: absolute;
}

.welcome-background-angles.img-1 {
    top: 0;
    left: 0;
}

.welcome-background-angles.img-2 {
    top: 0;
    right: 0;
}

.welcome-background-angles.img-3 {
    bottom: 0;
    left: 0;
}

.welcome-background-angles.img-4 {
    bottom: 0;
    right: 0;
}

.welcome-logotype {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0 45px 0;
    height: 62vh;
}

.welcome-page-logo {
    width: 90px;
}

.crown {
    width: 75px;
}

.hand {
    width: 93px;
}

.welcome-title {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    letter-spacing: .07px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}


.welcome-description {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    text-align: center;
}

.welcome-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    z-index: 1;
}

.welcome-hero.gift {
    margin-bottom: 48px;
}

.neurology-1-start-button {
    width: 250px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 0;
    background: linear-gradient(143deg, #DEC3A8 14.83%, #FFEDDA 47.68%, #DEC3A8 78.55%);
    box-shadow: 0px 4px 0px 0px #AF9F8E;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.neurology-1-start-button-text {
    color: #7B6644;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-right: 60px;
}

.neurology-1-start-button-text.gift {
    text-align: center;
    margin-right: 22px;
    font-size: 18px;
}

.neurology-1-start-button-text.gift-1 {
    display: flex;
    align-items: center;
}

.neurology-1-start-button-text.gift1 {
    display: flex;
    align-items: center;
}

.neurology-1-start-button-img {
    width: 24px;
    height: 24px;
    stroke-width: 0.533px;
    stroke: #71634C;
    margin-right: 10px;
}

.welcome-footer-description {
    width: 297px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    margin-bottom: 72px;
}

.name-container {
    background-image: url("../images/tuman.png");
}

.name-page-description {
    color: #FFE6CD;
    font-family: 'Philosopher', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.gift-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.info-page-description {
    width: 80%;
    color: #FFE6CD;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px;
    text-transform: uppercase;
}

.name-input {
    width: 212px;
    margin-bottom: 36px;
    background-color: transparent;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #FDFDFF;
    padding: 10px;
    text-align: center;
}

.name-input::placeholder {
    color: #FDFDFF;
    font-family: Philosopher, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    pointer-events: none;
}

.name-input:focus {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px 0;
    text-align: center;
}

.name-input:valid {
    width: 212px;
    font-family: Philosopher, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
    font-size: 18px;
    color: #FDFDFF;
    outline: 0;
    padding: 10px;
    text-align: center;
}

.neurology-1-start-button.name {
    justify-content: center;
}

.neurology-1-start-button-text.name {
    text-align: center;
    margin-right: 0;
}

.circle-moon-img.gender {
    bottom: -64vh;
}

.gender-container {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
}

.gender-button {
    width: 150px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #FBFCFF;
    background-color: transparent;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
}

.gender-button-img {
    width: 28px;
    height: 28px;
}

.gender-button-text {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 0;
}

.date_of_birth_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}

.neurology-4-info-date-day-container,
.neurology-4-info-date-month-container,
.neurology-4-info-date-year-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neurology-4-info-date-day,
.neurology-4-info-date-month {
    width: 74px;
    height: 38px;
    border-radius: 1000px;
    background: #FFF;
    border: 0 solid;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.neurology-4-info-date-year {
    width: 116px;
    height: 38px;
    border: 0 solid;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neurology-4-info-date-img {
    margin-left: 10px;
}

.neurology-4-info-date-day-info {
    margin-top: 4px;
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.date-month-select,
.date-day-select {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.date-select-year {
    position: relative;
}

.date-select-month-list,
.date-select-day-list {
    display: none;
    width: 74px;
    position: absolute;
    height: 165px;
    overflow: scroll;
    background-color: white;
    left: 0;
    top: 26px;
    border-radius: 16px;
}

.date-select-year-list {
    display: none;
    position: absolute;
    height: 165px;
    width: 116px;
    overflow: scroll;
    background-color: white;
    left: -58px;
    top: -12px;
    border-radius: 16px;
    padding: 4px;
}

.date-select-month-list.open,
.date-select-day-list.open {
    display: inline-block;
}

.date-select-year-list.open {
    display: inline-block;
}

.date-select-item {
    text-align: center;
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.neurology-5-result-container {
    width: 90%;
    display: block;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: 1px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.02);
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
    margin-top: 24px;
    padding: 22px;
}

.neurology-5-result-title {
    color: #FFF;
    font-family: Philosopher, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 22px;
    margin-top: 22px;
}

.neurology-5-result-title.pif {
    margin-bottom: 10px;
}

.neurology-5-result-1, .neurology-5-result-2 {
    color: #FFF;
    margin: 0 0 10px 0;
    font-family: Philosopher, sans-serif;
    font-size: 14.5px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.neurology-5-result-3 {
    font-size: 14.5px;
    font-family: Philosopher, sans-serif;
    color: #FFF;
    margin-bottom: 0;
}

.neurology-6-input-and-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.neurology-6-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
}

.neurology-6-input {
    width: 250px;
    border: 0 solid;
    height: 45px;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 4px 40px;
}

.neurology-6-input:focus, .neurology-7-input:focus {
    border: none;
    outline: none;
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    color: rgba(60, 64, 105, 0.23);
    top: 0;
    font-family: Philosopher, sans-serif;
    font-size: 26px;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}

.neurology-6-input-text {
    color: #FFF;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-field__icon .text-field__input {
    padding-left: 2rem;
}

/* email значок */
.text-field__icon_email::before {
    content: '@';
}

.container.gift {
    background-image: url("../images/back_7.png");
}

.container.gift-1 {
    background-image: url("../images/back_8.png");
}

.neurology-7-input-container {
    display: flex;
    margin-bottom: 54px;
}

.neurology-7-input-and-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neurology-7-input {
    width: 250px;
    border: 0 solid;
    height: 45px;
    border-radius: 1000px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 20px;
}

.neurology-7-input-text {
    color: #FFF;
    text-align: center;
    font-family: Philosopher, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.neurology-7-input:valid {
    color: #3C4069;
    font-family: Philosopher, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

@media (min-height: 480px) and (max-height: 666px) {
    .circle-moon-img {
        width: 459vw;
        bottom: -82.4vh;
    }
}

@media (min-height: 568px) and (max-height: 739px) {
    .circle-moon-img {
        width: 459vw;
        bottom: -69.4vh;
    }
}

@media (min-height: 740px) and (max-height: 811px) {
    .circle-moon-img {
        width: 461vw;
        bottom: -60.4vh;
    }
}

@media (min-height: 812px) and (max-height: 1000px) {
    .circle-moon-img {
        width: 457vw;
        bottom: -56.4vh;
    }
}

@media (height: 658px) {
    .circle-moon-img {
        width: 462vw;
        bottom: -60.4vh;
    }
}

@media (height: 640px) {
    .circle-moon-img {
        width: 460vw;
        bottom: -69.4vh;
    }
}

@media (width: 384px) and (height: 640px) {
    .circle-moon-img {
        width: 460vw;
        bottom: -74.4vh;
    }
}

@media (height: 533px) {
    .circle-moon-img {
        width: 461vw;
        bottom: -74.4vh;
    }
}

@media (width: 480px) and (height: 854px) {
    .circle-moon-img {
        width: 463vw;
        bottom: -70.4vh;
    }
}

@media (width: 412px) and (max-height: 915px) {
    .circle-moon-img {
        width: 463vw;
        bottom: -55.4vh;
    }
}

@media (width: 280px) and (height: 653px) {
    .circle-moon-img {
        width: 462vw;
        bottom: -50.4vh;
    }
}

@media (width: 411px) and (height: 823px) {
    .circle-moon-img {
        width: 438vw;
        bottom: -56.4vh;
    }
}

@media (min-width: 712px) and (min-height: 1138px) {
    .circle-moon-img {
        width: 455vw;
        bottom: -76vh;
    }
}

@media (width: 383px) and (height: 585px) {
    .circle-moon-img {
        width: 425vw;
        bottom: -91.2vh;
    }

    .container {
        background-position: center;
    }
}